{% extends 'base.html.twig' %}

{% block body %}
	{% block javascripts %}
		{{parent()}}
	{% endblock %}

	{% block header %}
		{{parent()}}
	{% endblock %}
	<div class="contenido">
		{% set i = 1 %}
		{% for examen in examenes %}
			<div class="alum">
				<div class="num">
					<p class="grande">{{i}}</p>
				</div>
				<div class="usid">
					<p class="grande"> {{examen.nombre}} {{examen.examen_id}}</p>
				</div>
				<button class="check" data-exId={{examen.examen_id}}  data-usId={{id}}></button>
				<button class="enter" data-exId={{examen.examen_id}}  data-usId={{id}}></button>
			</div>
			{% set i = i + 1 %}
		{% endfor %}
	</div>
	{% block footer %}
		{{parent()}}
	{% endblock %}
{% endblock %}
